<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
                    <div class="form-group">
                      <label for="email">Username : </label>
                      <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                      <label for="email">Password : </label>
                      <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn form-control btn-default">Login</button>
                </form>
</body>
</html>