<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="POST">
                    <div class="form-group">
                      <label for="email">Username : </label>
                      <input type="text" name="uname" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                      <label for="email">Email : </label>
                      <input type="email" name="mail" class="form-control" id="emailaddress">
                    </div>
                    <div class="form-group">
                      <label for="email">Password : </label>
                      <input type="password" name="passw" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn form-control btn-default">Register</button>
                </form>
</body>
</html>